.notification-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 50%;
  border: 1px solid #e5e5e5;
  margin: 10px;
}
.close {
  width: 20%;
  font-size: 30px;
  font-weight: bold;
}
